<svg>
	<style>
        .st0{
            transform: rotate(-90deg);
        }
        .st0 {
            stroke-dasharray: 62.8;
            stroke-dashoffset: 62.8;
            animation: dash 5s linear forwards;
        }

        svg {
            height: 25px;
            width: 25px;
	        background-color: transparent;
        }

        @keyframes dash {
            from{
                stroke-dashoffset: 62.8;
            }
            to {
                stroke-dashoffset: 0;
            }
        }

	</style>
	<circle cy=12 cx=12 r=10 fill=transparent stroke="white" stroke-opacity=".1" stroke-width="2"></circle>
	<circle class="st0" cy=12 cx=-12 r=10 fill=transparent stroke="white" stroke-width="2" stroke-dasharray="100, 500" stroke-linecap="round" stroke-dashoffset=0></circle>
</svg>
