.page-wrapper {
    background: radial-gradient(80.61% 70.81% at 50% 50%, rgba(114, 57, 187, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(61deg, rgba(0, 0, 0, 0.98) -0.05%, rgba(47, 47, 47, 0.98) 100.05%);
    font-weight: 500;
    width: 46.2963vmin;
    height: 100vh;
    padding: 1.8518vmin 9.2592vmin;
    border: 0.09259vmin solid rgba(255, 255, 255, 0.20);
}

.logo-auth {
    display: flex;
    align-items: center;
    padding-left: 3.6185vmin;
    margin-top: 5.55555vmin;
    margin-bottom: 15.655vmin;
    height: 9.8148vmin;
    background-image: url("../../assets/img/server-logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
}

.logo-reg {
    display: flex;
    align-items: center;
    padding-left: 3.6185vmin;
    margin-top: 5.55555vmin;
    margin-bottom: 9.907407vmin;
    height: 9.8148vmin;
    background-image: url("../../assets/img/server-logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 100%;
}

.logo-text {
    font-size: 1.98vmin;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.authorization-title {
    color: var(--main-white-color);
    text-shadow: 0 0.37037vmin 0.37037vmin rgba(0, 0, 0, 0.25);
    font-size: 2.9329vmin;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2.9629vmin;
}

.authorization-password-area {
    position: relative;
    margin-bottom: 1.85185vmin;
}

.authorization-password-area img {
    opacity: 0.5;
}

.authorization-password-area img:hover {
    opacity: 1;
}

.authorization-password-area:hover input {
    border: 0.09259vmin solid rgba(255, 255, 255, 0.50);

    background: rgba(0, 0, 0, 0.16);
}

.authorization-password-area:focus input {
    border: 0.09259vmin solid #FFF;
}

.input-password:focus .img {
    opacity: 1;
}

.password-control {
    cursor: pointer;
    position: absolute;
    top: 1.2185vmin;
    right: 1.01851vmin;
    display: inline-block;
    width: 2.2222vmin;
    height: 2.2222vmin;
    transition: all .3s ease-in-out;
}

.password-checkbox {
    margin-right: 0.92592vmin;
}

/*checkbox*/

.auth-pass-checkbox {
    height: 1.85185vmin;
    width: 100%;
    margin-bottom: 2.34888vmin;
}

.auth-pass-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.auth-pass-checkbox label {
    display: flex;
    position: relative;
    cursor: pointer;
    color: #FFF;
    opacity: 0.8;
    font-family: Oswald, sans-serif;
    font-size: 1.29629vmin;
    font-style: normal;
    font-weight: 300;
    line-height: 130%;
}

.auth-pass-checkbox label:before {
    content:'';
    -webkit-appearance: none;
    border-radius: 0.27777vmin;
    border: 0.09259vmin solid rgba(255, 255, 255, 0.24);
    background: rgba(0, 0, 0, 0.16);
    width: 1.8518vmin;
    height: 1.8518vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.74074vmin;
}

.auth-pass-checkbox label:hover:before {
    content: '';
    background-image: url("../../assets/img/check-icon-hovered.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0.47777vmin;
}

.auth-pass-checkbox input:checked + label:after {
    content: '';
    background-image: url("../../assets/img/check-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 0.27777vmin;
    border: 0.0925vmin solid rgba(255, 255, 255, 0.50);
    background-color:  #FFF;
    width: 1.8518vmin;
    height: 1.8518vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*окно регистрации!!!!*/

.registration-password-area {
    position: relative;
    margin-bottom: 0.7407vmin;
}

.registration-password-area img {
    opacity: 0.5;
}

.registration-password-area:hover img {
    opacity: 1;
}

.registration-password-area:hover input {
    border: 0.09259vmin solid rgba(255, 255, 255, 0.50);

    background: rgba(0, 0, 0, 0.16);
}

.registration-password-area:focus input {
    border: 0.09259vmin solid #FFF;
}

.reg-mail-input {
    margin-bottom: 1.4814vmin;
}

.reg-gender-switcher {
    display: flex;
    margin-bottom: 2.9629vmin;
}

.gender-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: calc(50% - 0.3703vmin);
    align-items: center;
    padding: 1.2037vmin 2.02851vmin;
    border-radius: 0.3703vmin;
    border: 0.09259vmin solid rgba(255, 255, 255, 0.16);
    transition: all .3s ease-in-out;
}

.gender-item:first-child {
    margin-right: 0.7407vmin;
}

.gender-item:hover {
    border: 0.09259vmin solid rgba(255, 255, 255, 0.50);
}

.gender-item:focus {
    border: 0.09259vmin solid rgba(255, 255, 255, 0.16);
    background:  #FFF;
    transition: all .3s ease-in-out;
}

.gender-item:focus .gender-item-text {
    color: #121212;
}

.gender-item:focus .male-gender-item-icon {
    background-color: black;
}

.gender-item:focus .female-gender-item-icon {
    background-color: black;
}

.gender-item-icon {
    width: 2.2222vmin;
    height: 2.2222vmin;
    background-color: White;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
}

.male-gender-item-icon {
    -webkit-mask-image: url('../../assets/img/maleIcon.svg');
    mask-image: url('../../assets/img/maleIcon.svg');
}

.female-gender-item-icon {
    -webkit-mask-image: url('../../assets/img/femaleIcon.svg');
    mask-image: url('../../assets/img/femaleIcon.svg');
}


.gender-item-text {
    margin-right: 0.59555vmin;
    color: #FFF;
    font-family: Oswald, sans-serif;
    font-size: 1.48148vmin;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.create-acc-btn {
    margin-bottom: 1.75185vmin;
}

.user-haveacc-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: transparent;
    font-family: Oswald, sans-serif;
    color: #FFFFFF;
    font-size: 1.4814vmin;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    transition: all .3s ease-in-out;
}

.user-haveacc-btn:hover {
    opacity: 0.6;
}

.user-haveacc-btn:after {
    content: " ";
    background: #FFFFFF;
    width: 13.51851vmin;
    height: 0.09259vmin;
    top: 1.85185vmin;
    position: absolute;
}
