

/*1. сделать из буттонов в авторизациях дивы*/
/*2. вынести*/

.btn {
    transition: all .3s ease-in-out;
}

.primary-button {
    padding: 1.1111vmin 2.2222vmin;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Oswald, sans-serif;
    font-size: 1.48148vmin;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.37037vmin;
    color: #121212;

    border: 0.09259vmin solid rgba(255, 255, 255, 0.10);

    background: #FFF;
}

.primary-button:hover {
    border: 0.09259vmin solid rgba(255, 255, 255, 0.35);
    background: #ACACAC;
}

.login-button {
    margin-bottom: 1.48148vmin;
}

.secondary-button {
    padding: 1.1111vmin 2.2222vmin;
    width: 100%;
    color: var(--main-white-color);
    text-transform: uppercase;
    cursor: pointer;
    font-family: Oswald, sans-serif;
    font-size: 1.48148vmin;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 0.37037vmin;
    border: 0.09259vmin solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
}

.secondary-button:hover {
    border: 0.09259vmin solid rgba(255, 255, 255, 0.35);
    background: rgba(255, 255, 255, 0.35);
}
