/* vw – 1% ширины окна
vh – 1% высоты окна */

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: local("Oswald-Medium"),
  url("./assets/fonts/Oswald-Medium.woff2") format("woff2"),
  url("./assets/fonts/Oswald-Medium.woff") format("woff");
 }

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 300;
  src: local("Oswald-Light"),
  url("./assets/fonts/Oswald-Light.woff2") format("woff2"),
  url("./assets/fonts/Oswald-Light.woff") format("woff");
 }

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald-Regular"),
  url("./assets/fonts/Oswald-Regular.woff2") format("woff2"),
  url("./assets/fonts/Oswald-Regular.woff") format("woff");
 }

 /* root */

:root {
  --main-white-color: #FFFFFF;
  --main-black-color: #121212;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  position: relative;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  background-image: url(assets/img/loading-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

.default-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
