<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <title>catch</title>
</head>
<% if (htmlWebpackPlugin.options.templateParameters.production == true)  { %>
<body style="background:#0000;">
<% } else { %>
<body>
<% } %>
<!--<body style="background:url(assets/img/loading-background.png);">-->


<div class="dialog-page">
  <div class="dialog"></div>
</div>
  <script src="index.js"></script>
</body>
</html>
