<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <title>catch</title>
</head>
<% if (htmlWebpackPlugin.options.templateParameters.production == true)  { %>
<body style="background:#0000;">
<% } else { %>
<body>
<% } %>


<div id="dialog-page" class="dialog-page default-page hidden">
  <div class="dialog">
    <div class="dialog-header">
      <span class="dialog-header--title"></span>
    </div>
      <div class="dialog-text"></div>
      <table id="dialog-table" class="dialog-table dialog-table--withoutThead">
        <thead id="dialog-table-thead">
        </thead>
        <tbody id="dialog-tbody">
        </tbody>
      </table>
      <input placeholder="Инпут" type="text" class="input dialog-input hidden">
    <div class="dialog-buttons">
      <button class="dialog-button dialog-button--active primary-button dialog-button--enter">
        <span class="dialog-button--text dialog-button--active-text"></span>
        <img alt="enter" class="dialog-button-enter--icon">
      </button>
      <button id="dialog-button--closer" class="dialog-button dialog-button--closer secondary-button">
        <span class="dialog-button--text dialog-button--closer-text"></span>
        <img alt="closer" class="dialog-button-esc--icon">
      </button>
    </div>
  </div>
</div>
<div id="inv-page" class="inv-page default-page">
<div id="inv">
  <div id="inv-header">
    <span id="inv-header--name">ИНВЕНТАРЬ</span>
    <div id="inv-header--info">
      <img alt="bag" id="inv-weightIcon">
      <span id="inv-busyWeight">22 КГ</span>
      <span>/</span>
      <span id="inv-maxWeight">50 КГ</span>
    </div>
  </div>
  <div id="inv-body"></div>
  <div id="inv-deleteArea">
    <img alt="thrash" id="inv-deleteIcon">
    <span id="inv-deleteText">ПЕРЕТАЩИТЕ СЮДА ПРЕДМЕТ ДЛЯ УДАЛЕНИЯ</span>
  </div>
</div>
</div>
  <script src="index.js"></script>
</body>
</html>
