.dialog {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: auto;
    padding: 20px;
    gap: 20px;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: radial-gradient(80.61% 70.81% at 50% 50%, rgba(114, 57, 187, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(61deg, rgba(0, 0, 0, 0.98) -0.05%, rgba(47, 47, 47, 0.98) 100.05%);
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-header--closer {
    opacity: 0.5;
    cursor: pointer;
}

.dialog-header--title {
    color: #FFF;

    font-family: Oswald, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.dialog-text {
    overflow-x: hidden;
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.75);

    font-family: Oswald, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.dialog-text::-webkit-scrollbar {
    width: 4px;
}

.dialog-text::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

.dialog-buttons {
    display: flex;
}

.dialog-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-button--active {
    margin-right: 8px;
}

.dialog-button-enter::after {
    content: url("../../assets/img/dialog-enter-icon.svg");
    height: 25px;
    width: auto;
    margin-left: 8px;
}

.dialog-button-enter:hover::after {
    opacity: 0.9;
}

.dialog-button--closer::after {
    content: url("../../assets/img/dialog-esc-icon.svg");
    height: 25px;
    width: auto;
    margin-left: 8px;
}

.dialog-button--closer:hover::after {
    opacity: 0.9;
}

.dialog input {
    width: 100%;
}

.dialog-table {
    background: rgba(255, 255, 255, 0.10);
    overflow-y: scroll;
    overflow-x: hidden;
    border-collapse: collapse;
}

.dialog-table--title, .dialog-table--text {
    color: #FFF;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.dialog-table--title {
    padding: 10px;
    font-size: 12px;
    line-height: 120%; /* 14.4px */
    background: rgba(255, 255, 255, 0.10);
}

.dialog-table--text {
    padding: 1px;
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 130%; /* 18.2px */
}

.dialog-table--title:first-child {
    border-radius: 8px 0px 0px 0px;
}

.dialog-table--title:last-child {
    border-radius: 0px 8px 0px 0px;
}
