.dialog {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1.85185vmin;
    gap: 1.85185vmin;

    border-radius: 0.92592vmin;
    border: 0.09259vmin solid rgba(255, 255, 255, 0.20);
    background: radial-gradient(80.61% 70.81% at 50% 50%, rgba(114, 57, 187, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(61deg, rgba(0, 0, 0, 0.98) -0.05%, rgba(47, 47, 47, 0.98) 100.05%);
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog-header--closer {
    user-select: none;
    opacity: 0.5;
    cursor: pointer;
    height: 1.94444vmin;
    width: auto;
}

.dialog-header--title {
    user-select: none;
    color: #FFF;

    font-family: Oswald, sans-serif;
    font-size: 1.66666vmin;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.dialog-text {
    user-select: none;
    width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.75);

    font-family: Oswald, sans-serif;
    font-size: 1.48148vmin;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    max-height: 26.48148vmin;
}

.dialog-text::-webkit-scrollbar {
    width: 0.37037vmin;
}

.dialog-text::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 1.85185vmin;
}

.dialog-buttons {
    display: flex;
}

.dialog-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-button--active {
    margin-right: 0.74074vmin;
}

.dialog-button--text {
    font-family: Oswald, sans-serif;
    font-size: 1.48148vmin;
    font-style: normal;
    font-weight: 500;
    line-height: 1.92592vmin;
}

.dialog-button-enter--icon, .dialog-button-esc--icon {
    min-width: 2.77777vmin;
    min-height: 2.314814vmin;
    max-width: 2.77777vmin;
    max-height: 2.314814vmin;
    width: 2.77777vmin;
    height: 2.314814vmin;
    margin-left: 0.74074vmin;
}

.dialog-button--enter:hover::after {
    opacity: 0.9;
}

.dialog-button--closer:hover::after {
    opacity: 0.9;
}

.dialog input {
    width: 100%;
}

.dialog-table {
    user-select: none;
    border-spacing: 0;
    border-bottom: 0.370370vmin solid rgba(255, 255, 255, 0.10);
    border-radius: 0.74074vmin;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dialog-table--withoutThead {
    user-select: none;
    border-radius: 0.74074vmin;
    border-bottom: 0.370370vmin solid rgba(255, 255, 255, 0.10);
    border-top: 0.370370vmin solid rgba(255, 255, 255, 0.10);
    border-spacing: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dialog-table--title, .dialog-table--text {
    color: #FFF;
    font-family: Oswald, sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}

.dialog-table--title {
    padding: 0.92592vmin;
    font-size: 1.11111vmin;
    line-height: 1.333333vmin;
    background: rgba(255, 255, 255, 0.10);
}

.dialog-table--text {
    padding: 0.74074vmin 3.148148vmin;
    border: 0.09259vmin solid rgba(255, 255, 255, 0.10);
    font-size: 1.29629vmin;
    line-height: 130%; /* 18.2px */
}

.dialog-table--title:first-child {
    border-radius: 0.74074vmin 0 0 0;
}

.dialog-table--title:last-child {
    border-radius: 0 0.74074vmin 0 0;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 0.46296vmin;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 0.555555vmin;
}

.dialog-first-tableTd {
    border-top-left-radius: 0.46296vmin;
}

.dialog-second-tableTd {
    border-top-right-radius: 0.555555vmin;
}

#dialog-tbody tr:hover td {
    background: rgba(255, 255, 255, 0.10);
}


